@media (min-width: 601px) and (max-width: 1100px) {
  .ap-logo {
    height: 115px;
    top: -22px;
  }
}

@media (max-width: 1000px) {

  .bar_height{
    height: 71px;
  }
}

.home__blob {
  /* width: 200px; */
  fill: #e4b615;
}
.home__blob-img {
  width: 190px;
}
.ap-logo {
  height: 150px;
  top: -37px;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.btn-cv{
  background-color: #2fb4ae;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.btn-cv:hover {
  transform: scale(1.05); 
}